<br>
<h1><b>My Profile</b></h1>
<a routerLink="/home" class="btn btn-primary"><i class="fa fa-angle-center"></i> Continue shopping</a><br><br>
    <div class="row">
        <div class="col-12 align-center">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="card-title"><b>User Name: </b> {{userlist.username}}</p>
                            <p class="card-text"><b>Email: </b> {{userlist.email}}</p>
                            <p class="card-text"><b>Phone Number: </b> {{userlist.mobileNumber}}</p>
                            <p class="card-text"><b>Role: </b> {{userlist.role}}</p>
                            <p class="card-text"><b>Status: </b> active</p>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>